@mixin mixinTelefono {
    @media (min-width:480px) {
        @content;
        
    }
}
@mixin mixinTablet {
    @media (min-width:768px) {
        @content;
        
    }
}
@mixin mixinEscritorio {
    @media (min-width:1200px) {
        @content;
        
    }
}
@mixin  grid ($columnas,$espaciado){
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap:$espaciado;
    
}