$fuentePrincipal:'Roboto', sans-serif;
//colores
$verde:#4CB8B3;
$rosa:#F53576;
$amarillo:#FEF46D;
$morado:#752F97;
$negro:#000;
$blanco:#FFF;

//MediaQueries


//Fuentes
$delgada:300;
$mediana:500;
$gruesa:900;


//separaciones

$separacion:5rem;
